<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      data-bs-theme="light" class="h-100" lang="en">
<head>
    <title>403</title>
    <div th:replace="~{fragments/header :: head-files}"></div>

</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/tdm :: tdm}"></div>

<!-- Main -->
<main class="container-fluid mx-auto" style="width: 90%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">403 - Access is denied</h1>
    </div>
    <p><span sec:authentication="name"></span> do not have permission to access this page.</p>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>