<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light" class="h-100">
<head>
    <title>Kalender - Blindeinstituttet</title>
    <div th:replace="~{fragments/header :: head-files}"></div>
    <!--Calendar JS-->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
    <script src="/js/calendar_rendering.js"></script>

</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<div th:replace="~{fragments/tdm :: tdm}"></div>


<!-- Main -->
<main class="container-fluid mx-auto" style="width: 90%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Kalender</h1>
    </div>

    <!-- Button trigger modal -->
    <button id="createButton" type="button" class="btn btn-lg btn-primary btn-block" data-bs-toggle="modal"
            data-bs-target="#modalForm">
        Opret aftale
    </button>

    <!--Calendar-->
    <div id='calendar' class="shadow-lg p-3 mb-5 rounded"></div>

    <!-- Scrollable modal -->
    <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormTitle"
         style="display: none;"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalFormTitle"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="appointmentForm">
                    <div class="modal-body">
                        <div class="m-3">
                            <input type="hidden" id="inpId"/>
                            <div class="form-group row">
                                <label class="col-form-label fw-bold" for="inpTitle">Titel:</label>
                                <input class="form-control" type="text" name="title" id="inpTitle" required>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label fw-bold" for="inpStartDateTime">Starttid:</label>
                                <input class="form-control" type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" name="startDateTime"
                                       id="inpStartDateTime" required>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label fw-bold" for="inpEndDateTime">Sluttid:</label>
                                <input class="form-control" type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" name="StartDateTime"
                                       id="inpEndDateTime" required>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label fw-bold" for="inpDescription">Beskrivelse
                                    (Valgfri): </label>
                                <textarea class="form-control" rows="3"
                                          id="inpDescription"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="submit" class="btn btn-primary">Gem</button>
                        <button id="deleteButton" type="submit" class="btn btn-primary">Slet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<!--Appointment form scripts-->
<script src="/js/appointment_form.js"></script>

</body>
</html>