<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light" class="h-100">
<head>
    <title>Kalender - Blindeinstituttet</title>
    <div th:replace="~{fragments/header :: head-files}"></div>
    <!--Calendar JS-->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
    <!-- Getting appointments in calendar -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            // Fetch the user's ID from the server

            fetch('http://localhost:8080/user/appointments')
                .then(response => response.json())
                .then(data => {
                    // Format the appointment data for FullCalendar
                    var events = data.map(appointment => ({
                        id: appointment.id,
                        title: appointment.title,
                        start: appointment.startTimeIso8601,
                        end: appointment.endTimeIso8601,
                        // Add any additional properties or formatting as needed
                    }));

                    function formatTime(time) {
                        var date = new Date(time);
                        var hour = date.getHours();
                        var minute = date.getMinutes();
                        return ('0' + hour).slice(-2) + ':' + ('0' + minute).slice(-2);
                    }

                    // Initialize FullCalendar
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        // Set the desired options for FullCalendar
                        // ...

                        // Pass the formatted appointment data to FullCalendar
                        events: events,
                        // Specify the event time format for display
                        eventTimeFormat: {
                            hour: '2-digit',
                            minute: '2-digit',
                            hour12: false,
                            hour24: true
                        },
                        // Add event click handler
                        eventClick: function(info) {
                            // Get the clicked appointment ID
                            var appointmentId = info.event.id;

                            // Handle event click logic here
                            // For example, navigate to the selected appointment's details page
                            window.location.href = '/appointments/' + appointmentId;

                            console.log('Event clicked:', info.event);
                        }
                    });

                    // Render the calendar
                    calendar.render();
                });
        });

    </script>

</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<div th:replace="~{fragments/tdm :: tdm}"></div>


<!-- Main -->
<main class="container-fluid mx-auto" style="width: 90%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Kalender</h1>
    </div>

    <!--Calendar-->
    <div id='calendar' class="shadow-lg p-3 mb-5 rounded"></div>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>