<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light" class="h-100">
<head>
  <title>Calendar</title>
  <div th:replace="~{fragments/header :: head-files}"></div>
  <!--Calendar JS-->
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      // Fetch the user's ID from the server

              fetch('http://localhost:8080/user/appointments')
                      .then(response => response.json())
                      .then(data => {
                        // Format the appointment data for FullCalendar
                        var events = data.map(appointment => ({
                          id: appointment.id,
                          title: appointment.user.firstName + ' ' + appointment.user.lastName,
                          start: appointment.startTimeIso8601,
                          end: appointment.endTimeIso8601,
                          // Add any additional properties or formatting as needed
                        }));

                function formatTime(time) {
                  var date = new Date(time);
                  var hour = date.getHours();
                  var minute = date.getMinutes();
                  return ('0' + hour).slice(-2) + ':' + ('0' + minute).slice(-2);
                }

                // Initialize FullCalendar
                var calendar = new FullCalendar.Calendar(calendarEl, {
                  // Set the desired options for FullCalendar
                  // ...

                  // Pass the formatted appointment data to FullCalendar
                  events: events,
                  // Specify the event time format for display
                  eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false,
                    hour24: true
                  },
                  // Add event click handler
                  eventClick: function(info) {
                    // Get the clicked appointment ID
                    var appointmentId = info.event.id;

                    // Handle event click logic here
                    // For example, navigate to the selected appointment's details page
                    window.location.href = '/appointments/' + appointmentId;

                    console.log('Event clicked:', info.event);
                  }
                });

                // Render the calendar
                calendar.render();
              });
    });
  </script>

</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<div th:replace="~{fragments/tdm :: tdm}"></div>


<!-- Main -->
<main class="container-fluid mx-auto" style="width: 90%;">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Calendar</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-calendar align-text-bottom" aria-hidden="true">
          <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
          <line x1="16" y1="2" x2="16" y2="6"></line>
          <line x1="8" y1="2" x2="8" y2="6"></line>
          <line x1="3" y1="10" x2="21" y2="10"></line>
        </svg>
        This week
      </button>
    </div>
  </div>

  <!--Calendar-->
  <div id='calendar'></div>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>