<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light" class="h-100">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/header :: head-files}"></div>
    <title>Opdater Borger - Blindeinstituttet</title>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<div th:replace="~{fragments/tdm :: tdm}"></div>

<!-- Main -->
<main class="container-fluid mx-auto" style="width: 90%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Opdater Borger</h1>
    </div>

    <!-- Alert -->
    <div class="alert alert-primary mx-auto" role="alert" th:if="${message!=null}" style="width: 50%">
        <p class="text-center" th:text="${message}"></p>
    </div>

    <form th:action="@{/patient/update}" th:object="${patient}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{patientId}"/>
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Fornavn: </label>
                <div class="col-8">
                    <input type="text" th:field="*{firstName}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Efternavn: </label>
                <div class="col-8">
                    <input type="text" th:field="*{lastName}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">CPR: </label>
                <div class="col-8">
                    <input type="text" th:field="*{sSNumber}" class="form-control" maxlength="11"
                           pattern="\d{4}-\d{6}" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Fødselsdato: </label>
                <div class="col-8">
                    <input type="date" th:field="*{birthdate}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Telefonnummer: </label>
                <div class="col-8">
                    <input type="tel" th:field="*{phoneNumber}" class="form-control"
                           required minlength="8" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Henvisningsårsag: </label>
                <div class="col-8">
                    <input type="text" th:field="*{reasonForRefferal}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Tilknyttede Medarbejder(e): </label>
                <div class="col-8">
                    <select class="form-select form-select-lg mb-3" th:field="*{users}" multiple>
                        <option th:each="user: ${users}" th:value="${user.userId}" th:text="${user.name}">
                        </option>
                    </select>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Opdater</button>
            </div>
        </div>
    </form>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>