<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light" class="h-100">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/header :: head-files}"></div>
    <title>Borgere - Blindeinstituttet</title>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<div th:replace="~{fragments/tdm :: tdm}"></div>

<!-- Main -->
<main class="container-fluid mx-auto" style="width: 90%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Borgere</h1>
    </div>

    <!-- Alert -->
    <div class="alert alert-primary mx-auto" role="alert" th:if="${message!=null}" style="width: 50%">
        <p class="text-center" th:text="${message}"></p>
    </div>

    <a class="btn btn-lg btn-primary btn-block" th:href="@{/patient/register}">Registrer ny borger</a>

    <label for="inpSearch"></label>
    <input type="text" required class="form-control" name="search" onkeyup="searchFunction('tablePatients')"
           placeholder="Søg"
           id="inpSearch">

    <table class="table table-striped table-bordered" id="tablePatients">
        <thead class="thead-dark">
        <tr>
            <th>Borger ID</th>
            <th>Navn</th>
            <th>CPR</th>
            <th>E-mail</th>
            <th>Telefonnummer</th>
            <th>Fødselsdato</th>
            <th>Henvisningsårsag</th>
            <th>Tilknyttede Medarbejder(e)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient: ${patients}">
            <td th:text="${patient.patientId}">Borger ID</td>
            <td th:text="${patient.name}">Navn</td>
            <td th:text="${patient.sSNumber}">CPR</td>
            <td th:text="${patient.email}">E-mail</td>
            <td th:text="${patient.phoneNumber}">Telefonnummer</td>
            <td th:text="${patient.birthdate}">Fødselsdato</td>
            <td th:text="${patient.reasonForRefferal}">Henvisningsårsag</td>
            <td>
                <th:block th:each="user : ${patient.users}">
                    <p th:text="${user.name}">Tilknyttede Medarbejder(e)</p>
                </th:block>
            </td>
            <td><a class="btn btn-md btn-primary btn-block"
                   th:href="@{'/patient/edit/' + ${patient.patientId}}">Opdater</a></td>
        </tr>
        </tbody>
    </table>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="/js/search.js"></script>

</body>
</html>