<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light" class="h-100">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/header :: head-files}"></div>
    <title>Patient Record</title>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<div th:replace="~{fragments/tdm :: tdm}"></div>

<!-- Main -->
<main class="container-fluid mx-auto" style="width: 90%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Patient Record: <span th:text="${patientName}"></span></h1>
    </div>

    <label for="inpSearch"></label>
    <input type="text" required class="form-control" name="search" onkeyup="searchFunction('tableUsers')"
           placeholder="Search"
           id="inpSearch">

    <table class="table table-striped table-bordered" id="tablePatients">
        <thead class="thead-dark">
        <tr>
            <th>Entry ID</th>
            <th>Type</th>
            <th>Author</th>
            <th>Timestamp</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note: ${record}">
            <td th:text="${note.noteId}">Entry ID</td>
            <td th:text="${note.appointmentType.displayname()}">Type</td>
            <td th:text="${note.user.name}">Author</td>
            <td th:text="${note.timestamp}">Timestamp</td>
            <td><a class="btn btn-md btn-primary btn-block"
                   th:href="@{'/record/note/read/' + ${note.noteId} +'&'+${patientName}}">Read Note</a>
        </tr>
        </tbody>
    </table>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="/js/search.js"></script>

</body>
</html>