<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light" class="h-100">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/header :: head-files}"></div>
    <title>Patient Records</title>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<div th:replace="~{fragments/tdm :: tdm}"></div>

<!-- Main -->
<main class="container-fluid mx-auto" style="width: 90%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Patient Records</h1>
    </div>

    <!-- Alert -->
    <div class="alert alert-primary mx-auto" role="alert" th:if="${message!=null}" style="width: 50%">
        <p class="text-center" th:text="${message}"></p>
    </div>

    <label for="inpSearch"></label>
    <input type="text" required class="form-control" name="search" onkeyup="searchFunction('tableUsers')"
           placeholder="Search"
           id="inpSearch">

    <table class="table table-striped table-bordered" id="tablePatients">
        <thead class="thead-dark">
        <tr>
            <th>Patient ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Reason for Refferal</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient: ${patients}">
            <td th:text="${patient.patientId}">Patient ID</td>
            <td th:text="${patient.firstName}">First Name</td>
            <td th:text="${patient.lastName}">Last Name</td>
            <td th:text="${patient.reasonForRefferal}">Reason for Refferal</td>
            <td><a class="btn btn-md btn-primary btn-block"
                   th:href="@{'/record/' + ${patient.patientId}+'&'+${patient.name}}">Access Journal</a>
                <a
                        class="btn btn-md btn-primary btn-block"
                        th:href="@{'/record/entry/' + ${patient.patientId}}">New Journal Entry</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="/js/search.js"></script>

</body>
</html>