<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="formEmployee">
    <label for="inpUsername">Username</label>
    <input type="text" name="username" id="inpUsername">
    <br>
    <label for="inpPassword">Password</label>
    <input type="text" name="password" id="inpPassword">
    <br>
    <label for="inpFirstName">First name</label>
    <input type="text" name="firstName" id="inpFirstName">
    <br>
    <label for="inpLastName">Last name</label>
    <input type="text" name="lastName" id="inpLastName">
    <br>
    <!--    <label for="inpEmail">Email</label>
        <input type="email" name="email" id="inpEmail">
        <br>-->
    <label for="inpPhonenumber">Phonenumber</label>
    <input type="text" name="phoneNumber" id="inpPhonenumber">
    <br>
    <!--    <label for="inpBirthdate">Birthdate</label>
        <input type="date" name="birthdate" id="inpBirthdate">
        <br>-->
    <!-- Not sure if next part should be null or used but enter it for now -->
    <!--    <label for="inpReasonForRefferal"></label>
        <br>-->
    <label for="ddRoles">Roles</label>
    <select id="ddRoles" name="roles" multiple></select>
    <br>
    <button type="submit">Create Employee</button>
</form>

<!--
  <script src="../static/js/employeeForm.js"></script>
-->
<script th:src="@{/js/rolesFetch.js}"></script>
</body>
</html>