<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light" class="h-100">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/header :: head-files}"></div>
    <title>Opdater Bruger - Blindeinstituttet</title>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<div th:replace="~{fragments/tdm :: tdm}"></div>

<!-- Main -->
<main class="container-fluid mx-auto" style="width: 90%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Opdater Bruger</h1>
    </div>

    <!-- Alert -->
    <div class="alert alert-primary mx-auto" role="alert" th:if="${message!=null}" style="width: 50%">
        <p class="text-center" th:text="${message}"></p>
    </div>

    <form th:action="@{/auth/user/update}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{userId}"/>
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Aktiveret: </label>
                <div class="col-8">
                    <input type="checkbox" th:field="*{enabled}"
                           th:text="Aktiveret"
                           class="m-2"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Brugernavn/E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{username}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Kodeord: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Fornavn: </label>
                <div class="col-8">
                    <input type="text" th:field="*{firstName}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Efternavn: </label>
                <div class="col-8">
                    <input type="text" th:field="*{lastName}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Telefonnummer: </label>
                <div class="col-8">
                    <input type="tel" th:field="*{phoneNumber}" class="form-control"
                           required minlength="8" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Roler: </label>
                <div class="col-8">
                    <input type="checkbox" checked disabled
                           th:text="User" class="m-2"/> <!--Dummy-->
                    <th:block th:each="role: ${roles}">
                        <input type="checkbox" th:field="*{roles}"
                               th:text="${role.tag}" th:unless="${role.tag == 'User'}" th:value="${role.roleId}"
                               class="m-2"/>
                    </th:block>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Opdater</button>
            </div>
        </div>
    </form>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>